<div id="page">
  <div id="content">
    <h1><%= title %></h1>

    <div class="well span8">
      <h2>Error</h2>

      <p class="subheading">
        Unable to create a room at this time.  Please try again later.
      </p>
    </div>
  </div>
</div> 


