<% include ./partials/header %>

<h1><%= title %></h1>

<div class="row-fluid">
		
</div>

<% include ./partials/footer %>

<!-- Consolidate all the internal js files -->
<%
var jsScripts = [
    'controllers/notify.js'
    , 'views/admin-dashboard.js'
]
var jsSrc = locals.concatFiles(jsScripts);
%>
<script src="/static/js?<%= jsSrc %>" /></script>
