<div class="modal-full-wrap" role="alert" tabindex='-1'>
	<div class="modal-fullscreen modal hide fade">
		<div class="modal-header">
			<button class="close" data-dismiss='modal'> x </button>
			<h3></h3>
		</div>
		<div class="modal-body">
			<p></p>
		</div>
		<div class="modal-footer">
			<button id="ok" class="btn btn-submit" data-dismiss="modal"> OK </button>
		</div>
	</div>
</div>
