<div class="modal-alert modal hide fade" role="alert">
  <div class="modal-header">
  	<button class="close" data-dismiss='modal'> x</button>
  	<h3></h3>
  </div>
  <div class="modal-body">
  	<p></p>
  </div>
  <div class="modal-footer">
  	<button id="alertOK" class="btn btn-primary" data-dismiss="modal">OK</button>
  </div>      	
</div>
