<form method="post" id="set-password-form" class="well span5">
  <h2>Reset Password</h2>
  <label for="#pass-tf">Please enter your new password</label> 
  <input type="password" name="pass" id='pass-tf' class="span5 required" tabindex="0">
  <label for="confirm-tf">Confirm your new password</label>
  <input type="password" id='confirm-tf' class="span5 required" tabindex="0">
  <button type="submit" id="submit" class="btn btn-primary">Submit</button>
  <div class="alert alert-error hide"></div>
  <button data-dismiss="alert" class="close"></button> 
</form>     

