<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
  <head>
    <title>Ripple - <%= title %></title>
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='viewport' content='width=device-width initial-scale=1 maximum-scale=1, user-scalable=0' />

    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/static/css?client.css&amp;jgrowl.css' />
    <link rel='stylesheet' href='/custom/css/custom.css' />
    
    <% include partials/js-header.ejs %>
    
  </head>
  <body class="no-js">
    <%- body %>
    <!-- <%= versionString %> -->
  </body>
</html>