<% include partials/form-errors %>
<% include partials/alert %>
<div id="page">
    <div id="content">
      <% include partials/account %>
		</div>
</div>


<script src='/js/views/signup.js'></script>