<div class="people-action btn-group">
  <button class="btn add-person"><i class="icon-plus"></i> Add</button>
  <button class="btn edit-person" disabled><i class="icon-edit"></i> Edit</button>
  <button class="btn remove-person" disabled><i class="icon-remove"></i> Remove</button>  
</div>