<div id="jPanelMenu-menu" />
	<aside id="slidebar" role="complementary"><!-- slidebar -->
		<header class="slide-branding" role="banner"></header>	
  	<div class="spacer spacer-inverse"></div>
    <!-- Chat is temporary removed until implement in a better way -->
  	<!--
		<div class="buffer10 message-sidebar">
			<h3>Messages:</h3>
			<div id="messages" class="well"></div>
			<input type="textbox" value="" id="message-txt" />
			<button id="message-btn" class="btn btn-submit">Send <i class="icon-white icon-comment"></i></button>
		</div>
    <div class="spacer"></div>
  	-->
    <div class="buffer10 window">
      <h3>Individual Responses:</h3>
      <div id="responses-wrap" class="well">
        <div id="toggle-names">
          <label>Show Names</label>
          <span class="btn-group pull-right">
              <button class="btn btn-mini toggle-control">On</button>
              <button class="btn btn-mini toggle-control btn-primary btn-active" data-state="hide-names">Off</button>
          </span> 
        </div>
        <hr />
        <div id="responses" class="hide-names"></div>
      </div>
    </div>
	</aside><!-- end slidebar -->
</div>