<% include ../../partials/alert %>
<% include ../../partials/confirm %>
<% include ../../partials/fullscreen %>

<a id="skip-to-content" href="#content">Skip to Main Content</a>

<div id="viewport">

  <% include session-sidebar %>

  <div id="page" class="admin-page"><!-- Main content -->

    <% include session-navbar %>
    <div role="main" id="content" tabindex='-1'>