<form id="set-create-form" method="post" action="/admin/set/start">
	<label for='setName-tf'>Question Set Name</label>
  <input type="text" name="name" id='setName-tf' class="span4 required"/>
  <label for='className-tf'>Presentation / Class</label>
  <input type="text" name="class" id="className-tf" class="span4" />
  <div>
  	<button type="submit" id="btn-login" class="btn btn-primary">Create</button>	
  </div>		
</form>	